echo "
# Ignore environment files
.env

# Node modules
node_modules/

# Compiled files
/dist
/lib

# VS Code settings
.vscode/

# Logs
nohup.out
.DS_Store

# TypeScript cache
tsconfig.tsbuildinfo
" > .gitignore


*-debug.log
*-error.log
.nyc_output
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
coverage
node_modules